<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>CIA App</title>
  <!-- BOOTSTRAP - BOOTSWATCH THEME - COSMOS -->
  {{!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  {{> navigation }}

  <main class="p-5">
    {{> messages }}
    {{> errors }}

    {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{text}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/each}}

    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>EDITAR ORDEN</h3>
        </div>
        <div class="card-body">
          <form action="/orden/edit-orden/{{orden._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
            {{!-- <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
              <input type="text" name="title" class="form-control" value="{{orden.title}}" />
            </div>
            <div class="form-group">
              <textarea name="description" class="form-control">{{orden.description}}</textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">
                Save
              </button>
            </div> --}}

            <div class="form-group">
              <label class="" for="lblUser">Cliente</label>
              <h4>{{cliente.name}} {{cliente.apellido}}</h4>
              {{!-- <select class="form-control" id="cliente" name="clienteSelect" onchange="cambiodecuerpo()">
                <option value="">Seleccione un Cliente</option>
                {{#each clientes}}
                <option value="{{_id}}">{{ name }}</option>
                {{/each}}
              </select> --}}
            </div>

            <div class="form-group">
              <label class="" for="lblUser">Vehiculo</label>
              <h4>{{vehiculo.marca}} {{vehiculo.modelo}}</h4>
              {{!-- <select class="form-control" id="vehiculo" name="vehiculoSelect">
                <option value="">Seleccione un Vehiculo</option>
              </select> --}}
            </div>

            <div class="form-group">
              <label class="" for="lblUser">Recibido por</label>
              <input type="text" name="personalReceptor" class="form-control" placeholder="Recibido por"
                value="{{orden.personalReceptor}}" disabled />
            </div>

            <div class="form-group">
              <label class="" for="lblUser">Tarea</label>
              <textarea name="tarea" class="form-control" placeholder="Tarea a Realizar"
                disabled>{{orden.tarea}}</textarea>
            </div>

            <div class="form-group">
              <label class="" for="lblUser">Observaciones Recepcion</label>
              <textarea name="observacionRecepcion" class="form-control" placeholder="Observaciones"
                disabled>{{orden.observacionRecepcion}}</textarea>
            </div>

            <div class="form-group">
              <label class="" for="lblUser">Kilometros Actuales</label>
              <input type="text" name="personalReceptor" class="form-control" placeholder="Recibido por"
                value="{{vehiculo.kmActuales}}" disabled />
            </div>

            <hr>
            <hr>

            <div class="form-group">
              <textarea name="tareasRealizadas" class="form-control"
                placeholder="Tareas Realizadas">{{orden.tareasRealizadas}}</textarea>
            </div>

            <div class="form-group">
              <textarea name="observaciones" class="form-control"
                placeholder="Observaciones">{{orden.observaciones}}</textarea>
            </div>

            <div class="form-group">
              <label class="" for="lblUser">REVISION TECNICA VEHICULAR</label>
              <input type="file" name="revision" class="form-control" />
            </div>

            <div class="form-group">
              <label class="" for="lblUser">Repuestos Requeridos</label>
              <input type="file" name="repuestos" class="form-control" />
            </div>

            <button class="btn btn-primary btn-block">
              GUARDAR
            </button>

          </form>
            
            <br>
            <hr>
            <a href="/orden/download-file/{{archivoRepuestosOrden._id}}">{{archivoRepuestosOrden.nombreArchivo}}
              <i style="color:#000" class="fas fa-file-alt"></i>
            </a>

        </div>
      </div>
    </div>
  </main>

  <!-- Scritps -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>